**/target/
Cargo.lock.bak
*.csv
node_modules/
dist/
.DS_Store
*.png
!/host/icons/**/*.png
!/backend/site/favicon.png
*.log
server/.env
server/downloads/*
!server/downloads/.gitkeep
host/.cargo/config.toml
host/gen/
